html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
   background:#090b03;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
 
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
 
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.header_comp{
	position:fixed;
		top:0px;
		left:0;
		right:0;
		bottom:0;
	z-index:-1;
}
.ecmenu{
	display:none;
	float:left;
	margin:10px 20px 0px 0px;
	padding:0px 10px;
	background:white;
	z-index:4;
}
.ecmenu_lines{
	 width: 15px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
	position:relative;
	z-index:-1;
	
}
.dropdownmenu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    left:16px;
	top:60px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
	border-radius:5px;
	
	
}

.dropdownmenu a{
	display:block;
	text-decoration:none;
	color:#333;
	padding:10px;
	font-size:18px;
	
}
.dropdownmenu a:hover{
	background:#a2a2a2;
	color:#f1f1f1;
}
.appear {display: block;}
@media only screen and (max-width:768px){
	.ecmenu{
	display:inline-block;	
	margin:0px 20px 0px 0px;
}
}

.header_items_links_wrap{
	float:left;
	margin:11px 0px 0px 30px;
	display:flex;
	justify-content:row;
	align-items:baseline;
}

.eclogo{
float:left;
margin:-4px 8px 0 0;
}

.eulercoderh1 {margin:0;font-size:32px;float:left;color:white;}

@media only screen and (max-width:768px){
	.header_items_links_wrap{
		display:none;
	}
	.eulercoderh1{
		font-size:22px;
	}
	.eclogo{
	float:left;
	margin:-4px 8px 0 0;
	width:32px;
	}
}
.header_items_links_wrap>*{
		margin:0 2vw;
		text-decoration:none;
		color:white;
		font-size:calc(10px+0.5vw);	
		display:flex;
		transition:all 0.2s ease;
		flex-grow:1;
}

.header_items_cta{
	float:right;
	margin:0px;
}

.header_items_cta a[href^="tel:"] {
	color: #8a8a8a;
	text-decoration: none;
	font-size:1.3vw;
	margin:0px 46px 0px 0px;
	transition:all 0.25s ease-in;

}
@media only screen and (max-width:1027px){
	.header_items_cta a[href^="tel:"]{
		display:none;
	}
}
.header_items_cta button{
	margin:0px 36px 0px 0px;
	padding:6px 8px 10px 8px;
	font-size:22px;
	color:white;
	border:2px solid #388cf6;
	border-radius:4px;
	background:transparent;
	position:relative;
	top:0px;
	transition:all 0.2s ease-in;
	
}
@media only screen and (max-width:820px){
	.header_items_cta button{
		font-size:16px;
		margin:5px 16px 0px 0px;
	padding:3px 4px 5px 3px;
	}
}
@media only screen and (max-width:380px){
	.header_items_cta button{
		font-size:16px;
		margin:5px -10px 0px 0px;
	padding:3px 4px 5px 3px;
	}
}

.header_items_cta button:hover{
	position:relative;
	top:-3px;
	transition:all 0.2s ease-in;
}

.landing{
	height:450px;
}
.landing_wrap{
	color:white;
	text-align:right;
	margin:150px 0px 0px 0px;
	margin-left:100px;
	
}
.landing_wrap h1{
	font-size:4.6vw;
	position:fixed;
	width:25%;
	z-index:-1;
}
@media only screen and (max-width:650px){
	.landing_wrap {
	font-size:36px;
	width:50%;
	left:-10%;
}}
@media only screen and (max-width:500px){
	.landing_wrap h1{
	font-size:36px;
	width:50%;
	left:-3%;
}}
@media only screen and (max-width:400px){
	.landing_wrap h1{
	font-size:28px;
	width:50%;
	left:-3%;
}}
.landing_wrap p{
	width:25%;
	position:fixed;
	top:380px;
	z-index:-1;
}
@media only screen and (max-width:1024px){
	.landing_wrap p{
		top:320px;
	}
}
@media only screen and (max-width:768px){
	.landing_wrap p{
		display:none;
	}
	.landing{
		height:200px;
	}
}
@media only screen and (max-width:380px){
	.landing_wrap p{
		display:none;
	}
	.landing{
		height:100px;
	}
}
.landing_img{
	position:fixed;
	top:80px;
	left:-20px;
	width:94%;
	z-index:-2;
}

.arrow_wrap {
	margin:auto;
	text-align:center;
	margin-top:100px;
	position:fixed;
	left:50%;
	right:50%;
	top:450px;
	
}

.arrow_button{
	background-color:#444444;
	border:none;
	border-radius:50%;
	padding:18px 16px;
	box-shadow:1px 3px 5px 2px black;
	
}
.arrow_down {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 20px solid #388cf6;
  padding:0px;
  margin:0px;
}
@media only screen and (max-width:820px){
	.arrow_wrap {
		top:350px;
	}
	.arrow_button{
		border-radius:50%;
	padding:12px 12px;
	}
	.arrow_down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid #388cf6;
		
	}
}
@media only screen and (max-width:768px){
	.arrow_wrap{display:none;}
	
}
.services{
	background:white;
	margin:40px 50px 0px 50px;
	position:relative;
	top:0px;
	z-index:1;
	color:#327cce;
	padding-bottom:0px;
}
.services h1{
	
	text-align:center;
	padding:20px 0px 0px 0px;
	
}

.services_wrap{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	margin:auto;
	text-align:center;
}
@media only screen and (max-width:768px){
	.services_wrap{
	-webkit-column-count: 1;
	 -moz-column-count: 1;
	column-count: 1;}
		.services{
	margin:40px 0px 0px 0px;
	}
}
.services_content img{
	width:50px;
	background:#327cce;
	padding:25px;
	margin-right:50px;
}
.services_content a{
	text-decoration:none;
	color:#327cce;
	font-size:32px;
	display:flex;
	-webkit-flex-direction:row;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	padding:34px 0px;
	position:relative;
	top:0px;
	-webkit-transition:all 0.2s;
	transition:all 0.4s;
}
@media only screen and (max-width:750px){
.services_content a{
	font-size:22px;
	padding:14px 0px;
}}
.services_content a:hover{
	background:#327cce;
	color:white;
}

.techstack_wrap{
	background:#191919;
	padding:20px 10px;
	text-align:center;
	color:white;
	margin-bottom:40px
}

.techstack{
	display:flex;
	  flex-wrap:wrap;
	  justify-content:column;
	 align-items:center;
	 align-content:flex-end;
	text-align:center;
	padding:10px;
}

.techstack_items{
	display:block;
	width:14.29%;
	margin:6px auto;
	padding-top:20px;
	border:2px solid #191919;
	transition:all 0.2s;
}
@media only screen and (max-width:768px){
	
	.techstack_items{
	display:block;
	width:33.33%;}
}
@media only screen and (max-width:480px){
	
	.techstack_items{
	display:block;
	width:50%;}
}
.techstack_items img{
	margin:4px auto;
}

.spritereact {
	background: url('../components/sprite.png') no-repeat 0 -765px;
	width: 82px;
	height: 74px;
	border:0px;
	outline:0px;
	
}
.spritedjango {
	background: url('../components/sprite.png') no-repeat 0 0;
	width: 137px;
	height: 49px;
}
.spriteexpress {
	background: url('../components/sprite.png') no-repeat 0 -51px;
	width: 122px;
	height: 28px;
}
.spritedocker {
	background: url('../components/sprite.png') no-repeat 0 -84px;
	width: 117px;
	height: 69px;
}

.spritejava {
	background: url('../components/sprite.png') no-repeat -25px -160px;
	width: 59px;
	height: 80px;
}
.spritemongo {
	background: url('../components/sprite.png') no-repeat -17px -247px;
	width: 73px;
	height: 80px;
}
.spritenode {
	background: url('../components/sprite.png') no-repeat 0 -333px;
	width: 116px;
	height: 71px;
}
.spriteaws {
	background: url('../components/sprite.png') no-repeat 0 -406px;
	width: 110px;
	height: 66px;
}

.spritehtml5 {
	background: url('../components/sprite.png') no-repeat -17px -478px;
	width: 65px;
	height: 91px;
}
.spritewebpack {
	background: url('../components/sprite.png') no-repeat -13px -584px;
	width: 70px;
	height: 80px;
}
.spritejs {
	background: url('../components/sprite.png') no-repeat 0 -674px;
	width: 88px;
	height: 88px;
}
.spriteandroid {
	background: url('../components/sprite.png') no-repeat -6px -842px;
	width: 67px;
	height: 78px;
}
.spriteangular {
	background: url('../components/sprite.png') no-repeat -1px -923px;
	width: 69px;
	height: 74px;
}
.spritejquery {
	background: url('../components/sprite.png') no-repeat -4px -1008px;
	width: 63px;
	height: 61px;
}
.spritecss3 {
	background: url('../components/sprite.png') no-repeat 0 -1079px;
	width: 66px;
	height: 92px;
}
.spritepython {
	background: url('../components/sprite.png') no-repeat 0 -1173px;
	width: 66px;
	height: 67px;
}
.spritebootstrap {
	background: url('../components/sprite.png') no-repeat 0 -1255px;
	width: 63px;
	height: 63px;
}

.techstack_items:hover{
	background:black;
	border:2px solid #327cce;
	box-shadow:0 0 25px 1px #000033;
}
.techstack_items p{
	opacity:0;
}
.techstack_items:hover p{
	opacity:1;
}

.clients_wrap{
	background:white;
	text-align:center;
	padding:40px;
}
.clients_h1{
	text-align:center;
	background:#090b03;
	margin:0px;
	width:100%;
	padding:40px;
	color:white;
}
.clients_items{
	display:block;
	width:14.29%;
	margin:20px auto;
	padding-top:20px;
	transition:all 0.2s;
	color:#327cce;
}
@media only screen and (max-width:768px){
	
	.clients_items{
	display:block;
	width:33.33%;}
}
@media only screen and (max-width:480px){
	
	.clients_items{
	display:block;
	width:50%;}
}

.clients_slide{
	text-align:center;
	background:#191919;
	width:80%;
	margin:80px auto 40px auto;
	border-radius:10px;
	color:white;
	
}


.clients_img{
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
	position:relative;
	top:-40px;
	width:200px;
	height:200px;
	margin:auto;
	box-shadow:0px 0px 16px 1px black;
	border-radius:10px;
}
.clients_name{
	position:relative;
	top:-30px;
	font-size:12px;
}
.clients_review{
	font-family:georgia;
	margin:100px auto;
	font-size:24px;

}
@media only screen and (max-width:600px){
	
	.clients_review{

	font-size:22px;
	margin:50px auto;
	padding:0px 5px;
	}
}
.clients_logo{
	width:40px;
	margin:auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 66px;
  margin:auto;
  margin-top: -180px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
@media only screen and (max-width:600px){
	.prev, .next{
	padding: 20px;}
}
.prev{
	left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slides_{
	display:none;
}

.show{
	display:contents;
}


.launch_wrap{
	background:#5da6f4;
	margin:-40px auto 40px auto;
	text-align:center;
	padding:60px 0px;
}
.launch_wrap h1{
	color:white;
	font-size:56px;
}
.launch{
	background:#444444;
	width:80%;
	margin:auto;
	text-align:center;
	border-radius:10px;
}
.launch img{
	float:left;
	margin-left:-10%;
	position:relative;
	left:15%;
	top:-4px;
	
}
@media only screen and (max-width:750px){
.launch img{
	display:none;
}}
.launch form{
	display:flex;
	-webkit-justify-content:center;
	-webkit-flex-direction:column;
	-webkit-align-items:center;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	
	margin:auto;
}

.launch form>*{
	margin:10px auto;
	border-radius:5px;
	border:none;
	padding:6px;
	
}
.launch form button{
	padding-left:40px;
	padding-right:40px;
	color:#5da6f4;
	font-weight:bold;
	font-size:22px;
	background:white;
}







